.project {
    height: 450px; /* or any other fixed height you want */
  }

.media {
    height: 350px; /* or any other fixed height you want */
  }

.articles {
    height: 400px; /* or any other fixed height you want */
  }

